<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Bookaro</a>
  <div class="float-right">
    <a href="#"
       (click)="onOpenModal('cart')"
       style="margin-right: 10px; color: white">Cart ({{countCartItems()}})</a>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let book of catalog" class="col-md-6 col-xl-6">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-3">
            <a href=""><img src="{{book.coverUrl}}" alt="" class="shadow img-fluid rounded w-60"></a>
          </div>
          <div class="col-9 card-title align-self-center mb-0">
            <h5>{{book.title}}</h5>
            <p class="m-0">
              <span *ngFor="let author of book.authors">{{author.name}}<br /></span>
            </p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Price : <a href="#">$ {{book.price}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Available : {{book.available}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips"
               (click)="addToCart(book)"
               data-placement="top"
               data-toggle="tooltip"
               data-original-title="Add to Cart">
              <i class="fa fa-cart-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="cartModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your cart ({{countCartItems()}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of cartItems">
          <img src="{{item.book.coverUrl}}" alt="" class="shadow img-fluid rounded w-60 float-right">
          <h4>{{item.book.title}}</h4>
          <h6><span *ngFor="let author of item.book.authors; last as isLast">{{author.name}}<span *ngIf="!isLast">, </span></span></h6>
          {{item.quantity}} copies for $ {{item.book.price | number: '1.2'}}
          <hr />
        </div>
        <h5>Total order amount</h5>
        <h4>$ {{totalCartAmount() | number: '1.2'}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearCart()" class="btn btn-danger align-left" data-dismiss="modal">Clear Cart</button>
        <button id="close-cart-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="onOpenModal('order')" class="btn btn-primary">Finish Order</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="orderModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #orderForm="ngForm" (ngSubmit)="onOrderSubmit(orderForm)">
          <div class="form-group">
            <div class="form-group">
              <label for="nameField">Name</label>
              <input ngModel name="name" type="text" class="form-control" id="nameField" required>
            </div>
            <label for="emailField">Email address</label>
            <input ngModel name="email" type="email" class="form-control" id="emailField" required>
          </div>
          <div class="form-group">
            <label for="phoneField">Phone</label>
            <input ngModel name="phone" type="text" class="form-control" id="phoneField" required>
          </div>
          <div class="form-group">
            <label for="streetField">Street</label>
            <input ngModel name="street" type="text" class="form-control" id="streetField" required>
          </div>
          <div class="form-group">
            <label for="cityField">City</label>
            <input ngModel name="city" type="text" class="form-control" id="cityField" required>
          </div>
          <div class="form-group">
            <label for="zipCodeField">ZIP Code</label>
            <input ngModel name="zip" type="text" class="form-control" id="zipCodeField" required>
          </div>
          <div class="modal-footer">
            <button id="cancel-order-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div> -->